# Ignorar el entorno virtual de Python
venv/
.venv/
env/

bot.log

__pycache__/
.env

*.pyc

receptor22.py
receptor33.py

receptor_errors.log
receptor_output.log

run_bot.vbs
start_bot.bat

originalbotto.py

.otto_receptor.pid